openapi: 3.1.0
info:
  title: Energy Atlas Collector API
  version: 1.1.0-w1
  summary: Ingest and read API for Energy Atlas sites (E0) and the web app's public and signed-in reads (W1).
  description: |
    Single source of truth for the collector (Go) and the edge agent `atlas_sink` (Python).
    Architecture: docs/ARCHITECTURE.md. Decisions: docs/adr/.

    Conventions
    - All timestamps are RFC 3339 in UTC with `Z` (invariant 1). Non-UTC offsets are rejected (422).
    - Aggregation window is fixed at 300 s. `window_start` must be a multiple of 300 s since the
      Unix epoch (a full 5 minutes UTC).
    - Errors are RFC 9457 `application/problem+json` (`Problem`). `type` is
      `https://api.fleet.datamindz.io/problems/<slug>`; slugs are listed in `Problem.type`. The
      base is an opaque identifier kept stable across the host change (ADR-0016 §3), not the API host.
    - Every response to a site-signed POST carries `Config-ETag` (effective config ETag).
    - Request bodies may be `Content-Encoding: gzip`. Limit: 1 MiB after decompression (413).
    - Writes are idempotent on natural keys; a repeated request never changes stored rows.
    - Unknown fields are rejected (`additionalProperties: false`) with 422 naming the field.
    - Malformed or missing path/query/header parameters (e.g. non-UUID `site_id`, missing `from`)
      → 422 `invalid-field`, `errors[].field` = `path.<name>` / `query.<name>` / `header.<Name>`
      (never 400, never 404). Every operation with parameters lists 422.
    - Status order on every authenticated operation: 401 → 422 (parameters) → 403 → 404.
      Auth runs before parameter binding, so unauthenticated callers never learn parameter rules.
    - No endpoint modifies or deletes `source`, attribute versions or global config versions.
      Methods not listed here return 405 `method-not-allowed`.

    Authentication (ADR-0003)
    - `siteSignature`: RFC 9421 HTTP Message Signature by the site's Ed25519 key, profile in
      ADR-0003 (`keyid` = site_id, components `@method @path @query [content-digest]`, `created`
      ≤ 300 s old). Status order: 401 (missing/invalid/expired/digest) → 422 malformed parameter →
      403 site-mismatch → 403 source-mismatch → 404.
    - `operatorBearer`: operator admin token.
    - `enrollmentBearer`: enrollment credential secret (`eac_…`), only on `POST /v1/sites`.
    - `webSession` (W1, ADR-0023): cookie `atlas_session` issued by `startOperatorSession` (operator)
      or `createWebSession` (home owner, bot `/web` link). Operator = same rights as `operatorBearer`
      on operations that list `webSession`; home owner = only sites linked to them in the bot — any
      other `site_id` → 404 `not-found` (never 403). Status order 401 → 422 → 403 → 404.
    - `cfAccessJwt` (W1): header `Cf-Access-Jwt-Assertion` added by Cloudflare Access, verified
      against the Access JWKS (ADR-0023 §3); only on `startOperatorSession`.

    Web app (W1, docs/PRD-web.md; ADR-0020…0025)
    - Paths under `/v1/public/`, `/v1/web/` and `/auth/` exist only on the web hosts
      (`ATLAS_WEB_HOSTS`: `atlas.datamindz.io`, `atlas-staging.datamindz.io`); on other hosts they
      answer 404 `not-found`. The SPA itself (`/`, `/assets/…`, `/geo/…`) is not part of this contract.
    - Public operations (tag `public`) need no authentication and are rate limited per client IP
      (60 requests/min, token bucket; ADR-0021 §7). Status order: 429 → 422 → 404 → 503.
      They answer from the fleet snapshot (ADR-0021 §4, `generated_at`); no snapshot or one older
      than 5 min → 503 `unavailable`.
    - Real sites appear in public responses only as `SourceAggregate.real` of the country and of
      voivodeships and as `PublicRegionView.unlocated.real`; never in cells, cards, curves or ids
      (ADR-0021 §5, PRD W2). Definitions of stale, current output, capacity: ADR-0021 §3.
  contact:
    name: Datamindz
servers:
  - url: https://atlas-api.datamindz.io
    description: production (ADR-0016)
  - url: https://atlas-api-staging.datamindz.io
    description: staging (ADR-0016)
  - url: http://localhost:8080
    description: local / acceptance tests

tags:
  - name: site
    description: Called by the edge agent, signed with the site key.
  - name: read
    description: Reads; callable by the site itself (signed) or the operator (bearer).
  - name: operator
    description: Operator-only administration and monitoring.
  - name: health
    description: Liveness and readiness.
  - name: public
    description: Anonymous reads of the public fleet map (W1, web hosts only).
  - name: web
    description: Web app sign-in and signed-in reads (W1, web hosts only).

security: []

paths:
  /healthz:
    get:
      tags: [health]
      operationId: getHealth
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: Process is alive.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Health' }

  /readyz:
    get:
      tags: [health]
      operationId: getReady
      summary: Readiness probe (ClickHouse reachable, migrations applied)
      security: []
      responses:
        '200':
          description: Ready.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Health' }
        '503':
          $ref: '#/components/responses/Unavailable'

  /v1/enrollment-credentials:
    post:
      tags: [operator]
      operationId: createEnrollmentCredential
      summary: Issue an enrollment credential scoped to one source (S-001)
      description: The secret is returned only in this response and never again.
      security: [{ operatorBearer: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EnrollmentCredentialCreate' }
      responses:
        '201':
          description: Created. Contains `secret` exactly once.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnrollmentCredentialWithSecret' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    get:
      tags: [operator]
      operationId: listEnrollmentCredentials
      summary: List enrollment credentials (never includes secrets)
      security: [{ operatorBearer: [] }]
      responses:
        '200':
          description: Credentials, newest first.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [credentials]
                properties:
                  credentials:
                    type: array
                    items: { $ref: '#/components/schemas/EnrollmentCredential' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/enrollment-credentials/{credential_id}:
    parameters:
      - $ref: '#/components/parameters/CredentialId'
    get:
      tags: [operator]
      operationId: getEnrollmentCredential
      summary: Read one enrollment credential (never includes the secret)
      security: [{ operatorBearer: [] }]
      responses:
        '200':
          description: Credential.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnrollmentCredential' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/enrollment-credentials/{credential_id}/revoke:
    parameters:
      - $ref: '#/components/parameters/CredentialId'
    post:
      tags: [operator]
      operationId: revokeEnrollmentCredential
      summary: Revoke an enrollment credential (idempotent)
      description: Registrations with a revoked credential return 401. Already enrolled sites are unaffected.
      security: [{ operatorBearer: [] }]
      responses:
        '200':
          description: Revoked (or already revoked); `revoked_at` set.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnrollmentCredential' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites:
    post:
      tags: [site]
      operationId: registerSite
      summary: Register a site public key under an enrollment credential (S-001)
      description: |
        `source` is taken from the credential, never from the body (a `source` field is an unknown
        field → 422). Same `public_key` again → 200 with the existing site if the credential has the
        same source, else 409 `conflict`, site unchanged (`source-mismatch` is only the 403 of
        `siteSignature`, ADR-0003). A `public_key` whose site key was revoked
        (`revokeSiteKey`) → 409 `site-key-revoked`, nothing created or changed; checked after auth
        and before the source check; the edge must generate a new key to re-enrol (ADR-0011).
        Rate limit 10 requests/hour per client IP (counted before auth) → 429.
        A `public` credential (ADR-0019 amendment T-411 §A) additionally creates at most
        `ATLAS_ENROLLMENT_PUBLIC_SITES_PER_DAY` (default 20) new sites per sliding 24 h: checked after
        auth and after the existing-key checks (so a same-key 200 is never capped or counted), before
        the insert; over the cap → 429 `rate-limited`, nothing created, `Retry-After` = seconds until the
        oldest counted site of that credential is 24 h old (rounded up, ≥ 1). Private credentials have no cap.
        A `bulk` credential (ADR-0024 §1, W1 fixture/simulator, `simulated` only) skips the per-IP limit:
        if the bearer's `credential_id` names an existing non-revoked bulk credential the limiter is not
        consulted before auth; if such a request then fails authentication it is counted for the client IP
        afterwards (429 instead of 401 when that IP is over the limit). All other credentials: unchanged.
      security: [{ enrollmentBearer: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SiteRegistration' }
      responses:
        '201':
          description: New site created.
          headers:
            Config-ETag: { $ref: '#/components/headers/ConfigETag' }
            Location:
              description: /v1/sites/{site_id}
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteRegistered' }
        '200':
          description: Key already registered; existing site returned, nothing created.
          headers:
            Config-ETag: { $ref: '#/components/headers/ConfigETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteRegistered' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      tags: [operator]
      operationId: listSites
      summary: List sites with source, last-seen and alert state (S-010)
      security: [{ operatorBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/SourceFilter'
        - $ref: '#/components/parameters/PublicEnrollmentFilter'
      responses:
        '200':
          description: Sites ordered by registered_at ascending.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [sites]
                properties:
                  sites:
                    type: array
                    items: { $ref: '#/components/schemas/SiteSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [operator]
      operationId: getSite
      summary: Operator view of one site - freshness, alert, linked recipients (S-010, S-014)
      security: [{ operatorBearer: [] }]
      responses:
        '200':
          description: Site.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/revoke-key:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    post:
      tags: [operator]
      operationId: revokeSiteKey
      summary: Revoke the site's key (idempotent)
      description: |
        After revocation every request signed with the key returns 401 and ownership proofs signed
        with it are invalid. The site's data stays. The edge must re-enrol with a new key
        (new site_id). Does not change `source`.
      security: [{ operatorBearer: [] }]
      responses:
        '200':
          description: Revoked (or already revoked).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/telegram-link:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    delete:
      tags: [operator]
      operationId: deleteSiteTelegramLink
      summary: Remove the Telegram link of a site (S-013, e.g. site sold)
      description: |
        Removes the link, sends the removed user one "site unlinked" message, and deletes the
        user's Telegram identity if this was their last link. A new valid proof can then be linked
        by another user. Idempotent: 204 also when no link exists.
      security: [{ operatorBearer: [] }]
      responses:
        '204':
          description: No link exists any more.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/gaps:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [operator]
      operationId: getSiteGaps
      summary: Gaps in the site's 5-minute series over a range (S-010, S-011, S-110; ADR-0009)
      description: >-
        Uncovered 5-minute slots with start s in [ceil5(from), min(ceil5(to), floor5(now))) and
        s >= floor5(first observation), merged into maximal runs. The result for a slot does not
        depend on the chosen `to`. A site without observations returns an empty list.
        Also callable with `webSession` (home owner: linked sites only, else 404).
      security: [{ operatorBearer: [] }, { webSession: [] }]
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Gaps ordered by start.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GapList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/config:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [read]
      operationId: getSiteConfig
      summary: Effective config for the site, with ETag (S-008)
      security: [{ siteSignature: [] }, { operatorBearer: [] }]
      parameters:
        - name: If-None-Match
          in: header
          required: false
          description: ETag from a previous response (quoted).
          schema: { type: string }
      responses:
        '200':
          description: Effective config.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteConfig' }
        '304':
          description: Unchanged since the given ETag.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/config/override:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    put:
      tags: [operator]
      operationId: putSiteConfigOverride
      summary: Set the site's config override (RFC 7396 merge patch on global config) (S-008)
      description: |
        Replaces the site's override. The merged effective config is validated; on failure 422 and
        effective config is unchanged. Override history is append-only.
      security: [{ operatorBearer: [] }]
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema: { $ref: '#/components/schemas/ConfigPatch' }
          application/json:
            schema: { $ref: '#/components/schemas/ConfigPatch' }
      responses:
        '200':
          description: New effective config of the site.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteConfig' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [operator]
      operationId: deleteSiteConfigOverride
      summary: Clear the site's override; the site gets the global config (S-008)
      security: [{ operatorBearer: [] }]
      responses:
        '204':
          description: No override exists any more (idempotent).
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/config:
    get:
      tags: [operator]
      operationId: getGlobalConfig
      summary: Current global config version
      security: [{ operatorBearer: [] }]
      responses:
        '200':
          description: Latest global version.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GlobalConfigVersion' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      tags: [operator]
      operationId: putGlobalConfig
      summary: Publish a new global config version (append-only) (S-008)
      description: The full config document; becomes version max+1. Earlier versions are never changed.
      security: [{ operatorBearer: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EffectiveConfig' }
      responses:
        '201':
          description: New version created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GlobalConfigVersion' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/config/versions:
    get:
      tags: [operator]
      operationId: listGlobalConfigVersions
      summary: All global config versions, oldest first (S-008)
      security: [{ operatorBearer: [] }]
      responses:
        '200':
          description: Versions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [versions]
                properties:
                  versions:
                    type: array
                    items: { $ref: '#/components/schemas/GlobalConfigVersion' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/sites/{site_id}/telemetry:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    post:
      tags: [site]
      operationId: postTelemetry
      summary: Push a batch of 5-minute windows (S-003)
      description: |
        All-or-nothing validation: if any window is invalid, nothing from the batch is stored (422).
        Valid batches are stored idempotently on (site_id, window_start); response counts new vs
        already-stored windows. Late and out-of-order windows are accepted.
      security: [{ siteSignature: [] }]
      parameters:
        - $ref: '#/components/parameters/ContentEncoding'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelemetryBatch' }
      responses:
        '200':
          description: Stored.
          headers:
            Config-ETag: { $ref: '#/components/headers/ConfigETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedEncoding' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '503': { $ref: '#/components/responses/Unavailable' }
    get:
      tags: [read]
      operationId: getTelemetry
      summary: Read telemetry over [from, to) at step 5m, 1h or 1d (S-009; ADR-0006, ADR-0009)
      description: |
        step=5m returns `windows` (stored windows only, never fabricated, never hourly rows).
        step=1h / 1d returns `buckets` (only buckets with data). Max range: 5m 31 days, 1h 366 days,
        1d 3660 days (else 422 `range_too_large`). `tz` only affects 1d bucket boundaries.
        Also callable with `webSession` (S-108 live view and today's totals; home owner: linked
        sites only, else 404).
      security: [{ siteSignature: [] }, { operatorBearer: [] }, { webSession: [] }]
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - name: step
          in: query
          required: true
          schema: { type: string, enum: [5m, 1h, 1d] }
        - name: metrics
          in: query
          required: false
          description: |
            Comma-separated subset of metric base names (`pv_w`, `wind_w`, `load_w`, `grid_import_w`,
            `grid_export_w`, `batt_w`, `soc_pct`, `pv_kwh`, `import_kwh`, `export_kwh`,
            `batt_chg_kwh`, `batt_dis_kwh`, `ext.<name>`). Default: all. Unknown name → 422.
          schema: { type: string }
        - name: tz
          in: query
          required: false
          description: IANA time zone for 1d bucket boundaries; default UTC. Ignored for 5m/1h.
          schema: { type: string, default: UTC, examples: [Europe/Warsaw] }
      responses:
        '200':
          description: Series.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TelemetrySeries' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/telemetry/hourly:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    post:
      tags: [site]
      operationId: postHourlyTelemetry
      summary: Push hourly-only history rows from the HA recorder (S-011; ADR-0009)
      description: Same validation, atomicity and idempotency rules as telemetry; key (site_id, hour_start).
      security: [{ siteSignature: [] }]
      parameters:
        - $ref: '#/components/parameters/ContentEncoding'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HourlyBatch' }
      responses:
        '200':
          description: Stored.
          headers:
            Config-ETag: { $ref: '#/components/headers/ConfigETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedEncoding' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/sites/{site_id}/solves:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    post:
      tags: [site]
      operationId: postSolves
      summary: Push optimiser solves (S-006)
      description: Idempotent on (site_id, solve_ts); all-or-nothing validation.
      security: [{ siteSignature: [] }]
      parameters:
        - $ref: '#/components/parameters/ContentEncoding'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SolveBatch' }
      responses:
        '200':
          description: Stored.
          headers:
            Config-ETag: { $ref: '#/components/headers/ConfigETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedEncoding' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '503': { $ref: '#/components/responses/Unavailable' }
    get:
      tags: [read]
      operationId: getSolves
      summary: Read solves with solve_ts in [from, to) (max 31 days), each linked to its attribute version
      security: [{ siteSignature: [] }, { operatorBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Solves ordered by solve_ts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SolveList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/attributes:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    post:
      tags: [site]
      operationId: postAttributes
      summary: Send an attribute snapshot valid from a time (S-007)
      description: |
        201 when a new version is stored. 200 (existing version returned, nothing stored) when the
        canonical attrs hash equals the version in force at `valid_from` (i.e. the latest version with
        valid_from ≤ the new valid_from). 409 when a version with the same `valid_from` but a different
        hash exists. Versions are append-only; there is no update or delete.
      security: [{ siteSignature: [] }]
      parameters:
        - $ref: '#/components/parameters/ContentEncoding'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AttributeSnapshot' }
      responses:
        '201':
          description: New version stored.
          headers:
            Config-ETag: { $ref: '#/components/headers/ConfigETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttributeVersion' }
        '200':
          description: Unchanged; the version in force is returned.
          headers:
            Config-ETag: { $ref: '#/components/headers/ConfigETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttributeVersion' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedEncoding' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '503': { $ref: '#/components/responses/Unavailable' }
    get:
      tags: [read]
      operationId: getAttributes
      summary: Attribute version in force at `at` (latest valid_from ≤ at) (S-007)
      security: [{ siteSignature: [] }, { operatorBearer: [] }]
      parameters:
        - name: at
          in: query
          required: true
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Version in force.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttributeVersion' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Site unknown, or no version with valid_from ≤ at.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/enrollment-credentials/{credential_id}/purge:
    parameters:
      - $ref: '#/components/parameters/CredentialId'
    post:
      tags: [operator]
      operationId: purgeCredentialSites
      summary: Delete the sites (or old data) registered with a simulated credential - safe reset (S-112; ADR-0024 §4)
      description: |
        Only for credentials with `source: simulated` (a `real` credential → 409 `conflict`, nothing deleted).
        Affects exactly the sites whose registration used this credential; every DELETE also requires
        `sites.source = 'simulated'`, so no real site can match. Any affected site with a Telegram link →
        409 `conflict` (unlink first). `data_before: null` deletes the sites and all their rows (sites,
        key revocations, attribute versions, config overrides, telemetry, hourly rows, solves, alerts);
        `data_before: T` deletes only telemetry (`window_start < T`), hourly rows (`hour_start < T`) and
        solves (`solve_ts < T`) of those sites. Idempotent. The credential itself is not revoked.
      security: [{ operatorBearer: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PurgeRequest' }
      responses:
        '200':
          description: Deleted (or nothing left to delete).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PurgeResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/sites/{site_id}/plan-vs-actual:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [read, web]
      operationId: getPlanVsActual
      summary: Plan in force vs actual per plan step for one local day (S-109; ADR-0015)
      description: |
        Same numbers as the S-012 Grafana panel "plan vs actual": both select from the shared
        parameterized view `plan_vs_actual(site_id, from, to)` (migration). Day = [local midnight of
        `day` in `tz`, next local midnight) → `from`/`to` in UTC (23, 24 or 25 h). A row per step t in
        force (ADR-0015: the step t of the solve with the greatest `solve_ts` among solves having a step
        at t), `from ≤ t < to`; planned flows converted to kW (kWh per step / step hours); actual = mean
        of the 5-min windows w with t ≤ w.window_start < t + step_s (null when none). No solve in force in
        the day → `has_plan: false`, `steps: []` (the UI then draws actual from `getTelemetry` step=5m).
      security: [{ operatorBearer: [] }, { webSession: [] }]
      parameters:
        - $ref: '#/components/parameters/Day'
        - $ref: '#/components/parameters/Tz'
      responses:
        '200':
          description: Steps ordered by t.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlanVsActual' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/daily-cost:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [read, web]
      operationId: getDailyCost
      summary: Modelled and realised cost of one local day (S-109; S-012 parity ±0.01 PLN)
      description: |
        Same numbers as the S-012 Grafana `daily-cost` dashboard for the range [from, to) of the local
        day (see `getPlanVsActual`): both select from the shared parameterized view
        `daily_cost(site_id, from, to)`. Modelled = Σ over steps in force (plan g_in × buy − g_out × sell);
        realised = Σ over 5-min windows of counter energy (import × buy − export × sell) at the price of
        the step in force (ADR-0015, ADR-0006 reset handling). `null` when there is nothing to price.
      security: [{ operatorBearer: [] }, { webSession: [] }]
      parameters:
        - $ref: '#/components/parameters/Day'
        - $ref: '#/components/parameters/Tz'
      responses:
        '200':
          description: Cost of the day.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DailyCost' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/alerts:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [read, web]
      operationId: listSiteAlerts
      summary: No-data alerts opened in [from, to) (max 366 days), newest first (S-110)
      description: No recipient identity is ever returned (ADR-0014); only whether a message was sent.
      security: [{ operatorBearer: [] }, { webSession: [] }]
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Alerts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteAlertList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/sites/{site_id}/attributes/versions:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [read, web]
      operationId: listAttributeVersions
      summary: All attribute versions with changed fields, ordered by valid_from (S-110)
      security: [{ operatorBearer: [] }, { webSession: [] }]
      responses:
        '200':
          description: Versions (empty list when the site never sent attributes).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttributeVersionList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/public/regions/{region_id}:
    parameters:
      - $ref: '#/components/parameters/RegionId'
    get:
      tags: [public]
      operationId: getPublicRegion
      summary: A region with its ancestors and children, each with totals split by source (S-101, S-102)
      description: |
        `PL` → children = 16 voivodeships; a voivodeship → its counties; a county → its municipalities;
        a municipality → no children (its assets: `listPublicRegionAssets`). Children ordered by name
        (Polish collation). Numbers: ADR-0021 §3. Unknown region id → 404.
      security: []
      parameters:
        - $ref: '#/components/parameters/SourceView'
      responses:
        '200':
          description: Region view.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicRegionView' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/public/regions/{region_id}/assets:
    parameters:
      - $ref: '#/components/parameters/RegionId'
    get:
      tags: [public]
      operationId: listPublicRegionAssets
      summary: Simulated assets of a municipality grouped by H3 res-6 cell (S-101 markers)
      description: |
        Only municipality ids (7 digits); a country/voivodeship/county id → 422 `invalid-field`
        `{field: "path.region_id", reason: "wrong_level"}`. Only simulated assets, never real ones.
        `source=real` → `cells: []` and `real_withheld: true`. Cells ordered by `h3_res6`, assets in a
        cell by `asset_id`.
      security: []
      parameters:
        - $ref: '#/components/parameters/SourceView'
      responses:
        '200':
          description: Cells with assets.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicMunicipalityAssets' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/public/assets/{asset_id}:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [public]
      operationId: getPublicAsset
      summary: Public card of one simulated asset (S-103)
      description: A real site's id, or any id not in the snapshot → 404 (indistinguishable).
      security: []
      responses:
        '200':
          description: Asset card.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicAsset' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/public/assets/{asset_id}/output:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [public]
      operationId: getPublicAssetOutput
      summary: Output curve of a simulated asset over [from, to), stored 5-min windows only (S-103)
      description: |
        Range ≤ 48 h (else 422 `range_too_large`), so any local day fits. One point per stored window,
        `output_kw` = the kind's generation metric / 1000 (null when the metric is null). Never
        fabricated, never hourly rows. Reads ClickHouse (not the snapshot); p95 < 300 ms.
      security: []
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Output points ordered by window_start.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicAssetOutput' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /auth/operator:
    get:
      tags: [web]
      operationId: startOperatorSession
      summary: Operator sign-in behind Cloudflare Access; sets the session cookie (S-105; ADR-0023 §3)
      description: |
        Reached by top-level navigation through the Access application on this path (prod) or host
        (staging). Valid JWT whose `email` is in `ATLAS_WEB_OPERATOR_EMAILS` → new operator session,
        303 to `/my`. Missing/invalid JWT → 401 `unauthenticated`. Valid JWT of another e-mail or a
        service token → 403 `operator-only`.
      security: [{ cfAccessJwt: [] }]
      responses:
        '303':
          description: Signed in.
          headers:
            Location:
              description: Always `/my`.
              schema: { type: string, enum: [/my] }
            Set-Cookie:
              description: '`atlas_session=<token>; Path=/; HttpOnly; Secure; SameSite=Lax; Max-Age=34560000`'
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/web/sessions:
    post:
      tags: [web]
      operationId: createWebSession
      summary: Exchange a bot `/web` sign-in token for a home-owner session (S-106; ADR-0023 §4)
      description: |
        The SPA reads the token from the link fragment (`/signin#t=<token>`) and posts it. Valid iff the
        token exists, is unused, `now < expires_at` (10 min) and its chat still has ≥ 1 linked site; then
        it is marked used (single use, serialized) and a session starts. Expired, used, unknown, malformed
        or no-longer-linked → 401 `signin-link-invalid` (one answer for all). Counted in the public
        per-IP rate limit.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebSignIn' }
      responses:
        '204':
          description: Signed in.
          headers:
            Set-Cookie:
              description: '`atlas_session=<token>; Path=/; HttpOnly; Secure; SameSite=Lax; Max-Age=34560000`'
              schema: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/web/session:
    delete:
      tags: [web]
      operationId: deleteWebSession
      summary: Sign out on this device (S-105, S-106)
      description: |
        Ends the session of the presented cookie (if any) and clears the cookie; always 204
        (idempotent, no cookie needed). An operator's SPA then navigates to `/cdn-cgi/access/logout`.
      security: []
      responses:
        '204':
          description: Signed out.
          headers:
            Set-Cookie:
              description: '`atlas_session=; Path=/; Max-Age=0; HttpOnly; Secure; SameSite=Lax`'
              schema: { type: string }
        '404':
          description: Not a web host (ADR-0023 §1).
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /v1/web/me:
    get:
      tags: [web]
      operationId: getWebMe
      summary: Who is signed in (never a Telegram identity or e-mail)
      security: [{ webSession: [] }]
      responses:
        '200':
          description: Principal.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebMe' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/web/sites:
    get:
      tags: [web]
      operationId: listWebSites
      summary: Sites of the signed-in user with health, paged (S-107)
      description: |
        Operator: all sites (the UI opens with `source=real`, W9); home owner: linked sites only.
        Order: `alert.active` desc, `registered_at` asc, `site_id` asc; `next_cursor` continues after the
        last row (null = last page). `gaps_7d` = `getSiteGaps` over [now − 7 d, now).
      security: [{ webSession: [] }]
      parameters:
        - $ref: '#/components/parameters/SourceFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: One page of sites.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebSiteList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/web/sites/{site_id}:
    parameters:
      - $ref: '#/components/parameters/SiteId'
    get:
      tags: [web]
      operationId: getWebSite
      summary: One site with health and its latest stored window (S-107, S-108)
      description: Home owner and a site not linked to them → 404.
      security: [{ webSession: [] }]
      responses:
        '200':
          description: Site.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebSite' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

components:
  securitySchemes:
    siteSignature:
      type: apiKey
      in: header
      name: Signature
      description: |
        RFC 9421 signature with the site Ed25519 key; requires `Signature-Input` and, for requests
        with a body, `Content-Digest` (RFC 9530, sha-256). Profile: ADR-0003.
    operatorBearer:
      type: http
      scheme: bearer
      description: Operator admin token (env ATLAS_OPERATOR_TOKEN).
    enrollmentBearer:
      type: http
      scheme: bearer
      description: Enrollment credential secret `eac_<credential_id>_<secret>`.
    webSession:
      type: apiKey
      in: cookie
      name: atlas_session
      description: |
        Web session (ADR-0023 §2): 32 random bytes base64url, stored as sha256; HttpOnly, Secure,
        SameSite=Lax, host-only. Idle timeout 30 days. Missing/unknown/ended/expired → 401 `unauthenticated`.
    cfAccessJwt:
      type: apiKey
      in: header
      name: Cf-Access-Jwt-Assertion
      description: Cloudflare Access application token (RS256), checked per ADR-0023 §3.

  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      schema: { $ref: '#/components/schemas/SiteId' }
    CredentialId:
      name: credential_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    SourceFilter:
      name: source
      in: query
      required: false
      description: Only sites with this source. Absent = all.
      schema: { $ref: '#/components/schemas/Source' }
    PublicEnrollmentFilter:
      name: public_enrollment
      in: query
      required: false
      description: |
        Only sites whose `public_enrollment` equals this value (`true` or `false`, lower case). Absent =
        all. Any other value → 422 `invalid-field`, field `query.public_enrollment`, reason `wrong_type`.
      schema: { type: boolean }
    From:
      name: from
      in: query
      required: true
      description: Inclusive start, RFC 3339 UTC. Must be < to (else 422).
      schema: { type: string, format: date-time }
    To:
      name: to
      in: query
      required: true
      description: Exclusive end, RFC 3339 UTC.
      schema: { type: string, format: date-time }
    ContentEncoding:
      name: Content-Encoding
      in: header
      required: false
      description: '`gzip` or absent. Anything else → 415.'
      schema: { type: string, enum: [gzip, identity] }

    RegionId:
      name: region_id
      in: path
      required: true
      description: '`PL`, TERYT voivodeship (2 digits), county (4) or municipality (7) code (ADR-0021 §1).'
      schema: { type: string, pattern: '^(PL|[0-9]{2}|[0-9]{4}|[0-9]{7})$', examples: [PL, '14', '1465', '1465011'] }
    AssetId:
      name: asset_id
      in: path
      required: true
      description: Public asset id (ADR-0021 §5); never a site id.
      schema: { $ref: '#/components/schemas/AssetId' }
    SourceView:
      name: source
      in: query
      required: false
      description: Which source splits to return. `all` (default) = both.
      schema: { type: string, enum: [all, real, simulated], default: all }
    Day:
      name: day
      in: query
      required: true
      description: Local calendar day `YYYY-MM-DD` in `tz` (else 422 reason `invalid_day`).
      schema: { type: string, format: date, examples: ['2026-09-28'] }
    Tz:
      name: tz
      in: query
      required: false
      description: IANA time zone of `day`; default UTC (the SPA sends the browser's zone). Unknown → 422 `invalid_tz`.
      schema: { type: string, default: UTC, examples: [Europe/Warsaw] }
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque `next_cursor` of the previous page. Not produced by the server → 422 reason `invalid_cursor`.
      schema: { type: string, maxLength: 512 }

  headers:
    ConfigETag:
      description: ETag of the site's effective config (quoted sha256 hex of canonical JSON). Differs from the local one → GET config.
      schema: { type: string, examples: ['"3b1f…"'] }
    ETag:
      description: Quoted sha256 hex of the canonical (RFC 8785) JSON of the effective config.
      schema: { type: string }
    RetryAfter:
      description: Seconds until retry is allowed.
      schema: { type: integer, minimum: 1 }

  responses:
    BadRequest:
      description: Malformed JSON or body not decodable (`invalid-body`).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: Missing or invalid credential/signature/session (`unauthenticated`, `credential-invalid`, `signature-invalid`, `signature-expired`, `digest-mismatch`; `signin-link-invalid` on `createWebSession` only).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: Authenticated but not allowed (`site-mismatch`, `source-mismatch`, `operator-only`).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Resource not found (`not-found`).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Conflict:
      description: Conflicts with stored state (`conflict`; `site-key-revoked` on `registerSite` only).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    TooLarge:
      description: Body > 1 MiB decompressed, or batch > 288 items (`payload-too-large`). Nothing stored.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    UnsupportedEncoding:
      description: Content-Encoding other than gzip/identity (`unsupported-encoding`).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unprocessable:
      description: |
        Validation failed (`invalid-field`); `errors` names every offending body field or
        path/query/header parameter (e.g. a `site_id` that is not a UUID → `path.site_id`). Nothing stored.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    RateLimited:
      description: Rate limit exceeded (`rate-limited`).
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unavailable:
      description: Not ready (`unavailable`).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    SiteId:
      type: string
      format: uuid
      description: UUIDv7 assigned by the collector.

    Source:
      type: string
      enum: [real, simulated]
      description: Provenance; fixed by the enrollment credential at registration, immutable.

    PublicEnrollment:
      type: boolean
      description: |
        True when the site was registered with a `public` enrollment credential (derived on read from
        the credential, immutable). Such a site is unverified while `linked_recipients` is 0 (no
        ownership proof yet, ADR-0004).

    Timestamp:
      type: string
      format: date-time
      description: RFC 3339, UTC, `Z` suffix.

    Health:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status: { type: string, enum: [ok] }
        version:
          type: string
          description: |
            Build version of the collector: the full git commit sha the image was built from
            (Docker build arg `VERSION`, ADR-0016 §8), `dev` when built without it. Deploy
            tooling polls it to know a rollout finished. Optional: clients must not require it.
          example: 3c6b723c0e4f1d2a9b8c7d6e5f4a3b2c1d0e9f8a

    Problem:
      type: object
      description: RFC 9457 problem details.
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          description: |
            `https://api.fleet.datamindz.io/problems/<slug>`, slug one of: invalid-body,
            invalid-field, payload-too-large, unsupported-encoding, unauthenticated,
            credential-invalid, signature-invalid, signature-expired, digest-mismatch,
            site-mismatch, source-mismatch, site-key-revoked, operator-only, not-found, method-not-allowed,
            conflict, rate-limited, unavailable, internal, signin-link-invalid (401 of `createWebSession`
            only, W1).
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        errors:
          type: array
          description: Present for `invalid-field` (and `payload-too-large` when a batch limit is hit).
          items: { $ref: '#/components/schemas/FieldError' }

    FieldError:
      type: object
      additionalProperties: false
      required: [field, reason]
      properties:
        field:
          type: string
          description: |
            Body field: JSON Pointer (RFC 6901), e.g. `/windows/3/window_start`.
            Parameter: `<in>.<name>` with the name as declared in this contract —
            `path.<name>` (e.g. `path.site_id`, `path.credential_id`), `query.<name>`
            (e.g. `query.from`), `header.<Name>` (canonical case, e.g. `header.If-None-Match`).
            Malformed or missing parameters use reason `wrong_type` or `required`.
        reason:
          type: string
          description: |
            Machine-readable code: required, wrong_type, unknown_field, out_of_range,
            not_aligned_5min, not_aligned_hour, not_utc, in_future, duplicate_key_in_batch,
            too_many_items, not_multiple_of_300, invalid_h3, forbidden_identifying_data,
            invalid_enum, from_not_before_to, range_too_large, unknown_metric, invalid_tz,
            invalid_public_key, invalid_combination (W1 `bulk`), wrong_level (W1 region level),
            invalid_cursor (W1 paging), invalid_day (W1 `day`, not YYYY-MM-DD).
        detail: { type: string }

    EnrollmentCredentialCreate:
      type: object
      additionalProperties: false
      required: [source]
      properties:
        source: { $ref: '#/components/schemas/Source' }
        label: { type: string, maxLength: 100, description: 'Operator note, e.g. "home".' }
        public:
          type: boolean
          default: false
          description: |
            The secret will be published (baked into a public Energy Compass release, ADR-0019 amendment
            T-411). Immutable. Sites it registers are marked `public_enrollment: true` and it creates at
            most `ATLAS_ENROLLMENT_PUBLIC_SITES_PER_DAY` new sites per 24 h (see `registerSite`).
        bulk:
          type: boolean
          default: false
          description: |
            W1 (ADR-0024 §1): registrations with this credential skip the per-IP registration limit.
            Only with `source: simulated` and `public: false`, else 422 `invalid-field`
            `{field: "/bulk", reason: "invalid_combination"}`. Immutable.

    EnrollmentCredential:
      type: object
      additionalProperties: false
      required: [credential_id, source, public, bulk, created_at, revoked_at]
      properties:
        credential_id: { type: string, format: uuid }
        source: { $ref: '#/components/schemas/Source' }
        public: { type: boolean, description: 'Set at creation, immutable (`EnrollmentCredentialCreate.public`).' }
        bulk: { type: boolean, description: 'Set at creation, immutable (`EnrollmentCredentialCreate.bulk`, W1).' }
        label: { type: [string, 'null'] }
        created_at: { $ref: '#/components/schemas/Timestamp' }
        revoked_at:
          oneOf:
            - { $ref: '#/components/schemas/Timestamp' }
            - { type: 'null' }

    EnrollmentCredentialWithSecret:
      allOf:
        - { $ref: '#/components/schemas/EnrollmentCredential' }
        - type: object
          required: [secret]
          properties:
            secret:
              type: string
              pattern: '^eac_[0-9a-f-]{36}_[A-Za-z0-9_-]{43}$'
              description: 'Shown once. Use as `Authorization: Bearer <secret>` on POST /v1/sites.'

    SiteRegistration:
      type: object
      additionalProperties: false
      required: [public_key]
      properties:
        public_key:
          type: string
          description: Ed25519 public key, 32 bytes, base64url without padding.
          pattern: '^[A-Za-z0-9_-]{43}$'

    SiteRegistered:
      type: object
      additionalProperties: false
      required: [site_id, source, registered_at]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        registered_at: { $ref: '#/components/schemas/Timestamp' }

    Freshness:
      type: object
      additionalProperties: false
      required: [last_seen, last_window_start, last_received_at]
      description: All null when the site has no telemetry window yet. Hourly backfill rows do not count.
      properties:
        last_seen:
          description: End of the latest stored window (last_window_start + 300 s).
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        last_window_start:
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        last_received_at:
          description: Server receive time of the latest window (by window_start).
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]

    AlertState:
      type: object
      additionalProperties: false
      required: [active, started_at, opened_at]
      properties:
        active: { type: boolean }
        started_at:
          description: Last-seen time when the alert opened (data missing since).
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        opened_at:
          description: When the evaluator opened the alert.
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]

    SiteSummary:
      type: object
      additionalProperties: false
      required: [site_id, source, public_enrollment, registered_at, key_revoked, freshness, alert_active]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        public_enrollment: { $ref: '#/components/schemas/PublicEnrollment' }
        registered_at: { $ref: '#/components/schemas/Timestamp' }
        key_revoked: { type: boolean }
        freshness: { $ref: '#/components/schemas/Freshness' }
        alert_active: { type: boolean }

    SiteDetail:
      type: object
      additionalProperties: false
      required: [site_id, source, public_enrollment, registered_at, enrollment_credential_id, key_revoked_at, freshness, alert, linked_recipients, effective_config]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        public_enrollment: { $ref: '#/components/schemas/PublicEnrollment' }
        registered_at: { $ref: '#/components/schemas/Timestamp' }
        enrollment_credential_id: { type: string, format: uuid }
        key_revoked_at:
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        freshness: { $ref: '#/components/schemas/Freshness' }
        alert: { $ref: '#/components/schemas/AlertState' }
        linked_recipients:
          type: integer
          minimum: 0
          maximum: 1
          description: Number of linked Telegram users (count only, never identities).
        effective_config: { $ref: '#/components/schemas/EffectiveConfig' }

    Gap:
      type: object
      additionalProperties: false
      required: [start, end, windows, ongoing]
      properties:
        start: { $ref: '#/components/schemas/Timestamp' }
        end: { $ref: '#/components/schemas/Timestamp' }
        windows: { type: integer, minimum: 1, description: 'Missing 5-minute windows ((end-start)/300 s).' }
        ongoing: { type: boolean, description: 'Gap reaches the upper bound min(ceil5(to), floor5(now)); it may continue past it. Not clipped to the last observation: trailing silence in a past range is a gap too (ADR-0009).' }

    GapList:
      type: object
      additionalProperties: false
      required: [site_id, source, from, to, gaps]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        from: { $ref: '#/components/schemas/Timestamp' }
        to: { $ref: '#/components/schemas/Timestamp' }
        gaps:
          type: array
          items: { $ref: '#/components/schemas/Gap' }

    EffectiveConfig:
      type: object
      additionalProperties: false
      required: [push_interval_s]
      properties:
        push_interval_s:
          type: integer
          minimum: 300
          maximum: 86400
          multipleOf: 300
          description: How often the edge sends buffered items. The window stays 300 s.

    ConfigPatch:
      type: object
      additionalProperties: false
      description: RFC 7396 merge patch applied to the global config. `null` removes a key from the override.
      properties:
        push_interval_s:
          oneOf:
            - { type: integer, minimum: 300, maximum: 86400, multipleOf: 300 }
            - { type: 'null' }

    GlobalConfigVersion:
      type: object
      additionalProperties: false
      required: [version, config, created_at]
      properties:
        version: { type: integer, minimum: 1 }
        config: { $ref: '#/components/schemas/EffectiveConfig' }
        created_at: { $ref: '#/components/schemas/Timestamp' }

    SiteConfig:
      type: object
      additionalProperties: false
      required: [site_id, source, global_version, override, config]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        global_version: { type: integer, minimum: 1 }
        override:
          description: The site's current merge patch, or null.
          oneOf: [{ $ref: '#/components/schemas/ConfigPatch' }, { type: 'null' }]
        config: { $ref: '#/components/schemas/EffectiveConfig' }

    ExtMetrics:
      type: object
      description: |
        Metrics outside the fixed set (Q6), numeric only. E0 known key: `batt_temp_c_avg`.
        New keys need no migration.
      maxProperties: 32
      propertyNames:
        pattern: '^[a-z][a-z0-9_]{0,63}$'
      additionalProperties:
        type: [number, 'null']

    MetricValues:
      type: object
      description: Fixed metric set (design). Powers in W, battery + = charge, − = discharge; counters in kWh; null = sensor unavailable.
      properties:
        pv_w_avg: { type: [number, 'null'] }
        pv_w_max: { type: [number, 'null'] }
        wind_w_avg: { type: [number, 'null'], minimum: 0, description: 'Wind generation (W1, ADR-0022 §3).' }
        wind_w_max: { type: [number, 'null'], minimum: 0 }
        load_w_avg: { type: [number, 'null'] }
        load_w_max: { type: [number, 'null'] }
        grid_import_w_avg: { type: [number, 'null'], minimum: 0 }
        grid_export_w_avg: { type: [number, 'null'], minimum: 0 }
        batt_w_avg: { type: [number, 'null'] }
        soc_pct_last: { type: [number, 'null'], minimum: 0, maximum: 100 }
        pv_kwh_total: { type: [number, 'null'], format: double, minimum: 0 }
        import_kwh_total: { type: [number, 'null'], format: double, minimum: 0 }
        export_kwh_total: { type: [number, 'null'], format: double, minimum: 0 }
        batt_chg_kwh_total: { type: [number, 'null'], format: double, minimum: 0 }
        batt_dis_kwh_total: { type: [number, 'null'], format: double, minimum: 0 }
        ext: { $ref: '#/components/schemas/ExtMetrics' }

    TelemetryWindow:
      description: |
        One 5-minute window computed on the edge (S-004): powers = time-weighted average + max over
        the window, counters and SOC = last sample. `window_start` multiple of 300 s UTC and
        window_start ≤ now (else 422 in_future). `samples` ≥ 1 for `origin=live`; 0 allowed only for
        `origin=backfill` (HA recorder statistics, sample count unknown).
      allOf:
        - { $ref: '#/components/schemas/MetricValues' }
        - type: object
          required: [window_start, samples]
          properties:
            window_start: { $ref: '#/components/schemas/Timestamp' }
            samples: { type: integer, minimum: 0, maximum: 32767 }
            origin: { type: string, enum: [live, backfill], default: live }
      unevaluatedProperties: false

    TelemetryBatch:
      type: object
      additionalProperties: false
      required: [windows]
      properties:
        windows:
          type: array
          minItems: 1
          maxItems: 288
          description: More than 288 → 413. Duplicate window_start inside one batch → 422.
          items: { $ref: '#/components/schemas/TelemetryWindow' }

    StoredWindow:
      allOf:
        - { $ref: '#/components/schemas/TelemetryWindow' }
        - type: object
          required: [origin, received_at]
          properties:
            received_at: { $ref: '#/components/schemas/Timestamp' }
      unevaluatedProperties: false

    HourlyRow:
      description: One hour from HA long-term statistics; `hour_start` aligned to a full UTC hour.
      allOf:
        - { $ref: '#/components/schemas/MetricValues' }
        - type: object
          required: [hour_start]
          properties:
            hour_start: { $ref: '#/components/schemas/Timestamp' }
      unevaluatedProperties: false

    HourlyBatch:
      type: object
      additionalProperties: false
      required: [hours]
      properties:
        hours:
          type: array
          minItems: 1
          maxItems: 288
          items: { $ref: '#/components/schemas/HourlyRow' }

    IngestResult:
      type: object
      additionalProperties: false
      required: [accepted, duplicates]
      properties:
        accepted: { type: integer, minimum: 0, description: 'Items newly stored.' }
        duplicates: { type: integer, minimum: 0, description: 'Items already stored (unchanged).' }

    Energy:
      type: object
      additionalProperties: false
      description: kWh from counter differences in the bucket (ADR-0006); null if the counter has no data.
      properties:
        pv_kwh: { type: [number, 'null'], format: double }
        import_kwh: { type: [number, 'null'], format: double }
        export_kwh: { type: [number, 'null'], format: double }
        batt_chg_kwh: { type: [number, 'null'], format: double }
        batt_dis_kwh: { type: [number, 'null'], format: double }

    TelemetryBucket:
      description: |
        Aggregate of one 1h or 1d bucket. `*_avg` (incl. `ext`) = time-weighted mean of the
        averages of the rows used: a 5-minute window weighs 1, a hourly row weighs 12; rows with a
        null value are skipped per metric (all-window bucket: plain mean of window averages;
        ADR-0009 T-338). `*_max` = max of row maxima, `soc_pct_last` and `*_kwh_total` = last
        value in bucket, `energy` from counters. For hours without windows but with an hourly row
        the hourly row is used and `hourly_only` is true (1h); 1d buckets report
        `hourly_only_hours`. "Without windows" means no window in the whole stored hour, not only
        inside [from, to). A hourly row counts wholly toward the bucket of its `hour_start` (never
        split; ADR-0009 T-313 rules).
      allOf:
        - { $ref: '#/components/schemas/MetricValues' }
        - type: object
          required: [ts, windows, hourly_only, hourly_only_hours, energy]
          properties:
            ts: { $ref: '#/components/schemas/Timestamp' }
            windows: { type: integer, minimum: 0, description: 'Number of 5-minute windows used.' }
            hourly_only: { type: boolean, description: 'True when the bucket has no 5-minute windows.' }
            hourly_only_hours: { type: integer, minimum: 0 }
            energy: { $ref: '#/components/schemas/Energy' }
      unevaluatedProperties: false

    TelemetrySeries:
      type: object
      additionalProperties: false
      required: [site_id, source, step, from, to]
      description: Exactly one of `windows` (step 5m) or `buckets` (1h/1d) is present.
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        step: { type: string, enum: [5m, 1h, 1d] }
        tz: { type: string }
        from: { $ref: '#/components/schemas/Timestamp' }
        to: { $ref: '#/components/schemas/Timestamp' }
        windows:
          type: array
          items: { $ref: '#/components/schemas/StoredWindow' }
        buckets:
          type: array
          items: { $ref: '#/components/schemas/TelemetryBucket' }

    Plan:
      type: object
      additionalProperties: false
      description: Energy Compass plan, one element per step (lengths equal). Flows in kWh per step; soc in kWh at step end; mc in currency/kWh.
      required: [g_in, g_out, b_c, b_d, soc]
      properties:
        g_in: { type: array, items: { type: number } }
        g_out: { type: array, items: { type: number } }
        b_c: { type: array, items: { type: number } }
        b_d: { type: array, items: { type: number } }
        curt: { type: array, items: { type: number } }
        soc: { type: array, items: { type: number } }
        mc: { type: array, items: { type: [number, 'null'] } }

    SolveInputs:
      type: object
      additionalProperties: false
      description: Inputs of the solve per step (same length as the plan). Prices in PLN/kWh, energy in kWh per step.
      required: [buy, sell, pv, load, soc0_kwh]
      properties:
        buy: { type: array, items: { type: number } }
        sell: { type: array, items: { type: number } }
        pv: { type: array, items: { type: number } }
        load: { type: array, items: { type: number } }
        soc0_kwh: { type: number }
        params:
          type: object
          description: LP parameters snapshot (free-form; values are numbers, strings, booleans or null - checked server-side).
          additionalProperties: true

    Solve:
      type: object
      additionalProperties: false
      required: [solve_ts, horizon_start, step_s, state, consumption_level, solver_status, plan, inputs]
      properties:
        solve_ts: { $ref: '#/components/schemas/Timestamp' }
        horizon_start: { $ref: '#/components/schemas/Timestamp' }
        step_s:
          type: integer
          minimum: 300
          maximum: 86400
          multipleOf: 300
          description: Plan step in seconds (900 for RCE 15 min, 3600 for hourly); always explicit (invariant 8).
        state: { type: string, enum: [CHARGE_GRID, CHARGE_PV, SELF_CONSUME, DISCHARGE_GRID, HOLD, CURTAIL] }
        consumption_level: { type: string, enum: [BOOST, CHEAP, NORMAL, LIMIT] }
        mc_now: { type: [number, 'null'] }
        expected_cost_24h: { type: [number, 'null'] }
        solver_status: { type: string, maxLength: 64 }
        solve_ms: { type: [integer, 'null'], minimum: 0 }
        plan: { $ref: '#/components/schemas/Plan' }
        inputs: { $ref: '#/components/schemas/SolveInputs' }

    SolveBatch:
      type: object
      additionalProperties: false
      required: [solves]
      properties:
        solves:
          type: array
          minItems: 1
          maxItems: 288
          items: { $ref: '#/components/schemas/Solve' }

    StoredSolve:
      allOf:
        - { $ref: '#/components/schemas/Solve' }
        - type: object
          required: [received_at, attributes_valid_from]
          properties:
            received_at: { $ref: '#/components/schemas/Timestamp' }
            attributes_valid_from:
              description: valid_from of the attribute version in force at solve_ts (null if none).
              oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
      unevaluatedProperties: false

    SolveList:
      type: object
      additionalProperties: false
      required: [site_id, source, solves]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        solves:
          type: array
          items: { $ref: '#/components/schemas/StoredSolve' }

    AttrsV1:
      type: object
      additionalProperties: false
      description: |
        Site attributes, schema version 1. No coordinates, addresses, serial numbers or display
        names (invariant 5): any unknown field → 422 `unknown_field`; string values (any depth,
        incl. `tariff.*`, `compass_version`, `inverter_model`) that look like coordinates, a street
        address or a serial number → 422 `forbidden_identifying_data`. Street-address rules
        (PL postal code + place, street keyword + name + house number) and must-pass/must-flag
        examples: docs/adr/0012-street-address-detection-in-attrs.md. Location only as H3 res 6.
      required: [pv_kwp, battery_kwh_nominal, battery_kwh_usable, compass_version]
      properties:
        pv_kwp: { type: number, exclusiveMinimum: 0, maximum: 1000 }
        inverter_model: { type: [string, 'null'], maxLength: 64, pattern: '^[A-Za-z0-9 ._/-]*$' }
        battery_kwh_nominal: { type: number, minimum: 0, maximum: 10000 }
        battery_kwh_usable: { type: number, minimum: 0, maximum: 10000 }
        soc_floor_pct: { type: [number, 'null'], minimum: 0, maximum: 100 }
        lp:
          type: object
          additionalProperties: false
          properties:
            eta_c: { type: number, exclusiveMinimum: 0, maximum: 1 }
            eta_d: { type: number, exclusiveMinimum: 0, maximum: 1 }
            c_deg: { type: number, minimum: 0 }
            D: { type: number, minimum: 0 }
            boost_threshold: { type: [number, 'null'] }
            cheap_threshold: { type: [number, 'null'] }
            limit_threshold: { type: [number, 'null'] }
            terminal_soc_mode: { type: string, enum: [preserve_initial, value] }
        tariff:
          type: object
          additionalProperties: false
          properties:
            provider: { type: string, maxLength: 64 }
            buy_formula: { type: string, maxLength: 256 }
            sell_formula: { type: string, maxLength: 256 }
        location:
          type: [object, 'null']
          additionalProperties: false
          required: [h3_res6]
          properties:
            h3_res6:
              type: string
              description: H3 cell index at resolution 6 (hex, 15 chars, starts with 86). Resolution checked server-side.
              pattern: '^86[0-9a-f]{13}$'
        compass_version: { type: string, maxLength: 32 }

    AttributeSnapshot:
      type: object
      additionalProperties: false
      required: [valid_from, schema_version, attrs]
      properties:
        valid_from:
          $ref: '#/components/schemas/Timestamp'
        schema_version:
          type: integer
          enum: [1, 2]
          description: Selects the schema `attrs` is validated against (1 → AttrsV1, 2 → AttrsV2; ADR-0022).
        attrs:
          oneOf:
            - { $ref: '#/components/schemas/AttrsV1' }
            - { $ref: '#/components/schemas/AttrsV2' }

    AttributeVersion:
      type: object
      additionalProperties: false
      required: [site_id, source, valid_from, received_at, schema_version, attrs, attrs_hash]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        valid_from: { $ref: '#/components/schemas/Timestamp' }
        received_at: { $ref: '#/components/schemas/Timestamp' }
        schema_version: { type: integer }
        attrs:
          oneOf:
            - { $ref: '#/components/schemas/AttrsV1' }
            - { $ref: '#/components/schemas/AttrsV2' }
        attrs_hash:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: sha256 hex of the RFC 8785 canonical JSON of `attrs`.

    AttrsV2:
      type: object
      additionalProperties: false
      description: |
        Site attributes, schema version 2 (W1, ADR-0022): any asset kind. Same identifying-data rules
        as AttrsV1 (ADR-0012). `capacity_kw` = installed generation capacity (kWp for PV, kW for wind).
      required: [kind, capacity_kw]
      properties:
        kind: { type: string, enum: [pv, wind] }
        capacity_kw: { type: number, exclusiveMinimum: 0, maximum: 100000 }
        location:
          type: [object, 'null']
          additionalProperties: false
          required: [h3_res6]
          properties:
            h3_res6:
              type: string
              description: H3 cell index at resolution 6 (hex, 15 chars, starts with 86). Resolution checked server-side.
              pattern: '^86[0-9a-f]{13}$'
        pv_kwp: { type: number, exclusiveMinimum: 0, maximum: 1000 }
        inverter_model: { type: [string, 'null'], maxLength: 64, pattern: '^[A-Za-z0-9 ._/-]*$' }
        battery_kwh_nominal: { type: number, minimum: 0, maximum: 10000 }
        battery_kwh_usable: { type: number, minimum: 0, maximum: 10000 }
        soc_floor_pct: { type: [number, 'null'], minimum: 0, maximum: 100 }
        tariff:
          type: object
          additionalProperties: false
          properties:
            provider: { type: string, maxLength: 64 }
            buy_formula: { type: string, maxLength: 256 }
            sell_formula: { type: string, maxLength: 256 }
        compass_version: { type: string, maxLength: 32 }

    PurgeRequest:
      type: object
      additionalProperties: false
      required: [data_before]
      properties:
        data_before:
          description: null = delete the sites entirely; a timestamp = delete only time-series rows before it.
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]

    PurgeResult:
      type: object
      additionalProperties: false
      required: [credential_id, mode, data_before, sites]
      properties:
        credential_id: { type: string, format: uuid }
        mode: { type: string, enum: [sites, data] }
        data_before:
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        sites:
          type: integer
          minimum: 0
          description: Sites of the credential affected by this call (`sites` mode - deleted; `data` mode - trimmed).

    AssetId:
      type: string
      pattern: '^[A-Za-z0-9_-]{22}$'
      description: base64url (no padding) of the first 16 bytes of SHA-256("atlas-public-asset-v1:" + lower-case site_id).

    AssetKind:
      type: string
      enum: [pv, wind, unknown]
      description: From the attribute version in force (ADR-0022 §2). `unknown` never appears in public cells or cards.

    RegionLevel:
      type: string
      enum: [country, voivodeship, county, municipality]

    RegionRef:
      type: object
      additionalProperties: false
      required: [region_id, level, name]
      properties:
        region_id: { type: string, pattern: '^(PL|[0-9]{2}|[0-9]{4}|[0-9]{7})$' }
        level: { $ref: '#/components/schemas/RegionLevel' }
        name: { type: string, description: PRG name (Polish). }

    SourceAggregate:
      type: object
      additionalProperties: false
      required: [asset_count, capacity_kw, current_output_kw, without_current_data]
      description: ADR-0021 §3. `without_current_data` = assets without a current output (stale, kind unknown or metric null).
      properties:
        asset_count: { type: integer, minimum: 0 }
        capacity_kw: { type: number, minimum: 0 }
        current_output_kw: { type: number, minimum: 0 }
        without_current_data: { type: integer, minimum: 0 }

    RegionTotals:
      type: object
      additionalProperties: false
      required: [real_withheld]
      description: |
        `simulated` present iff source ∈ {all, simulated}. `real` present iff source ∈ {all, real} and the
        level is country or voivodeship. `real_withheld` true iff source ∈ {all, real} and the level is
        county or municipality (the UI then says "real sites: shown at voivodeship level"; no number, not
        even 0, PRD W2).
      properties:
        simulated: { $ref: '#/components/schemas/SourceAggregate' }
        real: { $ref: '#/components/schemas/SourceAggregate' }
        real_withheld: { type: boolean }

    RegionAggregate:
      type: object
      additionalProperties: false
      required: [region_id, level, name, totals]
      properties:
        region_id: { type: string, pattern: '^(PL|[0-9]{2}|[0-9]{4}|[0-9]{7})$' }
        level: { $ref: '#/components/schemas/RegionLevel' }
        name: { type: string }
        totals: { $ref: '#/components/schemas/RegionTotals' }

    PublicRegionView:
      type: object
      additionalProperties: false
      required: [generated_at, source, region, ancestors, children]
      properties:
        generated_at: { $ref: '#/components/schemas/Timestamp' }
        source: { type: string, enum: [all, real, simulated] }
        region: { $ref: '#/components/schemas/RegionAggregate' }
        ancestors:
          type: array
          description: From the country down to the parent; empty for `PL`.
          items: { $ref: '#/components/schemas/RegionRef' }
        children:
          type: array
          items: { $ref: '#/components/schemas/RegionAggregate' }
        unlocated:
          type: object
          additionalProperties: false
          description: Only for `PL`. Assets without a location or outside every municipality, counted only in the country totals; keys follow `source`.
          properties:
            real: { type: integer, minimum: 0 }
            simulated: { type: integer, minimum: 0 }

    PublicAssetSummary:
      type: object
      additionalProperties: false
      required: [asset_id, kind, capacity_kw, current_output_kw, last_seen, stale]
      properties:
        asset_id: { $ref: '#/components/schemas/AssetId' }
        kind: { $ref: '#/components/schemas/AssetKind' }
        capacity_kw: { type: [number, 'null'] }
        current_output_kw: { type: [number, 'null'], description: 'null = no current data (ADR-0021 §3).' }
        last_seen:
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        stale: { type: boolean }

    PublicCell:
      type: object
      additionalProperties: false
      required: [h3_res6, lat, lng, asset_count, assets]
      properties:
        h3_res6: { type: string, pattern: '^86[0-9a-f]{13}$' }
        lat: { type: number, description: 'Cell centre latitude, 4 decimals.' }
        lng: { type: number, description: 'Cell centre longitude, 4 decimals.' }
        asset_count: { type: integer, minimum: 1 }
        assets:
          type: array
          items: { $ref: '#/components/schemas/PublicAssetSummary' }

    PublicMunicipalityAssets:
      type: object
      additionalProperties: false
      required: [generated_at, source, region, real_withheld, cells]
      properties:
        generated_at: { $ref: '#/components/schemas/Timestamp' }
        source: { type: string, enum: [all, real, simulated] }
        region: { $ref: '#/components/schemas/RegionRef' }
        real_withheld: { type: boolean, description: 'true iff source ∈ {all, real}.' }
        cells:
          type: array
          items: { $ref: '#/components/schemas/PublicCell' }

    PublicAsset:
      type: object
      additionalProperties: false
      required: [generated_at, asset_id, source, kind, capacity_kw, h3_res6, lat, lng, region_path, current_output_kw, output_window_start, last_seen, stale]
      properties:
        generated_at: { $ref: '#/components/schemas/Timestamp' }
        asset_id: { $ref: '#/components/schemas/AssetId' }
        source: { type: string, enum: [simulated] }
        kind: { type: string, enum: [pv, wind] }
        capacity_kw: { type: number }
        h3_res6: { type: string, pattern: '^86[0-9a-f]{13}$' }
        lat: { type: number }
        lng: { type: number }
        region_path:
          type: array
          description: Country, voivodeship, county, municipality.
          minItems: 4
          maxItems: 4
          items: { $ref: '#/components/schemas/RegionRef' }
        current_output_kw: { type: [number, 'null'] }
        output_window_start:
          description: window_start of the window the current output comes from; null when there is none.
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        last_seen:
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        stale: { type: boolean }

    PublicAssetOutput:
      type: object
      additionalProperties: false
      required: [asset_id, kind, from, to, points]
      properties:
        asset_id: { $ref: '#/components/schemas/AssetId' }
        kind: { type: string, enum: [pv, wind] }
        from: { $ref: '#/components/schemas/Timestamp' }
        to: { $ref: '#/components/schemas/Timestamp' }
        points:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [window_start, output_kw]
            properties:
              window_start: { $ref: '#/components/schemas/Timestamp' }
              output_kw: { type: [number, 'null'] }

    WebSignIn:
      type: object
      additionalProperties: false
      required: [token]
      properties:
        token: { type: string, maxLength: 256, description: 'From the link fragment `#t=`. Any value that is not a live token → 401 `signin-link-invalid`.' }

    WebMe:
      type: object
      additionalProperties: false
      required: [principal, site_count]
      properties:
        principal: { type: string, enum: [operator, home_owner] }
        site_count: { type: integer, minimum: 0, description: 'Operator - all sites; home owner - linked sites.' }

    WebSiteSummary:
      type: object
      additionalProperties: false
      required: [site_id, source, registered_at, kind, capacity_kw, freshness, stale, alert, gaps_7d]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        registered_at: { $ref: '#/components/schemas/Timestamp' }
        kind: { $ref: '#/components/schemas/AssetKind' }
        capacity_kw: { type: [number, 'null'] }
        freshness: { $ref: '#/components/schemas/Freshness' }
        stale: { type: boolean, description: 'ADR-0021 §3 (3 × effective push_interval_s).' }
        alert: { $ref: '#/components/schemas/AlertState' }
        gaps_7d:
          type: object
          additionalProperties: false
          required: [count, duration_s]
          properties:
            count: { type: integer, minimum: 0 }
            duration_s: { type: integer, minimum: 0, description: 'Σ gap windows × 300.' }

    WebSiteList:
      type: object
      additionalProperties: false
      required: [sites, next_cursor]
      properties:
        sites:
          type: array
          items: { $ref: '#/components/schemas/WebSiteSummary' }
        next_cursor: { type: [string, 'null'] }

    WebSite:
      allOf:
        - { $ref: '#/components/schemas/WebSiteSummary' }
        - type: object
          required: [push_interval_s, latest_window]
          properties:
            push_interval_s: { type: integer, minimum: 300 }
            latest_window:
              description: The stored window with the greatest window_start (null when none). The live view shows it with its time, or "no fresh data" when `stale`.
              oneOf: [{ $ref: '#/components/schemas/StoredWindow' }, { type: 'null' }]
      unevaluatedProperties: false

    PlanActualValues:
      type: object
      additionalProperties: false
      required: [grid_import_kw, grid_export_kw, batt_charge_kw, batt_discharge_kw]
      properties:
        grid_import_kw: { type: [number, 'null'] }
        grid_export_kw: { type: [number, 'null'] }
        batt_charge_kw: { type: [number, 'null'] }
        batt_discharge_kw: { type: [number, 'null'] }
        soc_kwh: { type: [number, 'null'], description: Plan only (kWh at step end). }
        soc_pct: { type: [number, 'null'], description: Actual only (last SOC in the step). }

    PlanVsActual:
      type: object
      additionalProperties: false
      required: [site_id, source, day, tz, from, to, has_plan, steps]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        day: { type: string, format: date }
        tz: { type: string }
        from: { $ref: '#/components/schemas/Timestamp' }
        to: { $ref: '#/components/schemas/Timestamp' }
        has_plan: { type: boolean }
        steps:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [t, step_s, plan, actual]
            properties:
              t: { $ref: '#/components/schemas/Timestamp' }
              step_s: { type: integer, minimum: 300, multipleOf: 300 }
              plan: { $ref: '#/components/schemas/PlanActualValues' }
              actual: { $ref: '#/components/schemas/PlanActualValues' }

    DailyCost:
      type: object
      additionalProperties: false
      required: [site_id, source, day, tz, from, to, currency, has_plan, modelled_cost, realised_cost]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        day: { type: string, format: date }
        tz: { type: string }
        from: { $ref: '#/components/schemas/Timestamp' }
        to: { $ref: '#/components/schemas/Timestamp' }
        currency: { type: string, enum: [PLN] }
        has_plan: { type: boolean }
        modelled_cost: { type: [number, 'null'] }
        realised_cost: { type: [number, 'null'] }

    SiteAlert:
      type: object
      additionalProperties: false
      required: [alert_id, started_at, opened_at, resolved_at, alert_message_sent, resolve_message_sent]
      properties:
        alert_id: { type: string, format: uuid }
        started_at:
          description: Last-seen time when the alert opened (data missing since).
          allOf: [{ $ref: '#/components/schemas/Timestamp' }]
        opened_at: { $ref: '#/components/schemas/Timestamp' }
        resolved_at:
          oneOf: [{ $ref: '#/components/schemas/Timestamp' }, { type: 'null' }]
        alert_message_sent:
          type: [boolean, 'null']
          description: 'true = a Telegram message was delivered; false = nobody to send to (ADR-0014) or not yet; null = unknown (alerts handled before W1).'
        resolve_message_sent:
          type: [boolean, 'null']

    SiteAlertList:
      type: object
      additionalProperties: false
      required: [site_id, source, from, to, alerts]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        from: { $ref: '#/components/schemas/Timestamp' }
        to: { $ref: '#/components/schemas/Timestamp' }
        alerts:
          type: array
          items: { $ref: '#/components/schemas/SiteAlert' }

    AttributeVersionEntry:
      type: object
      additionalProperties: false
      required: [valid_from, received_at, schema_version, attrs, attrs_hash, changed_fields]
      properties:
        valid_from: { $ref: '#/components/schemas/Timestamp' }
        received_at: { $ref: '#/components/schemas/Timestamp' }
        schema_version: { type: integer }
        attrs:
          oneOf:
            - { $ref: '#/components/schemas/AttrsV1' }
            - { $ref: '#/components/schemas/AttrsV2' }
        attrs_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        changed_fields:
          type: array
          items: { type: string }
          description: |
            JSON Pointers rooted at this entry's `attrs` object (not the response body), sorted, of every
            leaf that was added, removed or changed vs the previous version by valid_from; for the first
            version every leaf present. Leaves = non-object values incl. null. Example: previous
            `{"pv_kwp":9.6,"tariff":{"provider":"Tauron"}}`, this `{"pv_kwp":10,"tariff":{"provider":"Tauron","buy_formula":"x"}}`
            → `["/pv_kwp", "/tariff/buy_formula"]`.

    AttributeVersionList:
      type: object
      additionalProperties: false
      required: [site_id, source, versions]
      properties:
        site_id: { $ref: '#/components/schemas/SiteId' }
        source: { $ref: '#/components/schemas/Source' }
        versions:
          type: array
          items: { $ref: '#/components/schemas/AttributeVersionEntry' }
